{% extends "forum/base.html" %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'forum/css/post.css' %}">
{% endblock %}


{% block content %}
<p><a href="{% url 'forum:forum' forum_id=post.forum.pk %}">Back to {{ post.forum.name }}</a></p>
<h1>{{ post.title }}</h1>

<p>{{ post.text }}</p>
<img src=""> <p>{{ post.author.username }}</p>

{% if user.is_authenticated %}
    {% if post.author.username == user.username %}
    <a href="{% url 'forum:edit_post' post_id=post.pk %}">Edit Post</a>
    {% endif %}

    <p><a href="{% url 'forum:new_comment' %}?post_id={{ post.pk }}">Add Comment</a></p>
{% endif %}

{% if comment_count > 0 %}
    {% for comment in comments %}
        <article class="post-comment">
            <div class="message-inner">
                <div class="message-cell-user">
                    <div class="message-avatar">
                        <img class="avatar" src="{{ comment.author.userprofile.avatar.url }}">
                    </div>
                    <div class="message-userDetails">
                        <p>{{ comment.author.username }}</p>
                        <p>Location: {{ comment.author.userprofile.location }}</p>
                        <p>Posts: {{ comment.author.post_set.count }}</p>
                        <p>Comments: {{ comment.author.comment_set.count }}</p>
                    </div>
                    
                </div>
                <div class="message-content" >
                    <p>{{ comment.text }}</p>
                    <footer class="message-footer">
                        {% if user.is_authenticated %}
                            {% if comment.author.username == user.username %}
                                <p><a href="{% url 'forum:edit_comment' comment_id=comment.pk %}">Edit Comment</a></p>
                            {% endif %}
                        {% endif %}
                    </footer>                    
                </div>                
            </div>           
        </article>
    {% endfor %}
{% else %}
<h2>No Comments Yet!</h2>
{% endif %}
{% endblock %}